<nav style="position: fixed; background-color: #263238;
    color: #fff;
    line-height: 64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    z-index: 600; width: 100%; background-image: url(https://i.imgur.com/7Bpbh8x.jpg);
    background-size: cover;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.75);
    top: 0;">
  <div style="color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    height: 64px;
    line-height: 64px;
    margin: 0;
    padding: 0 22px;
    position: relative;
    text-align: center;">
    <i style="font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: inherit;
    user-select: none;
    vertical-align: middle;">menu</i></div>
  <a href="#" style="display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Cinzel, serif;
    font-size: 19px;
    text-transform: uppercase;
    color: #FFF;">{{title}}</a>
</nav>
<div
  style="background: url(https://i.imgur.com/8OOuMz6.jpg); background-size: cover; width: 100%; font-size:0px; height: 699px; margin-top: 64px;"></div>
<router-outlet></router-outlet>
<div
  style="height: 40px; width: 100%; background-image: url(https://i.imgur.com/7Bpbh8x.jpg); text-align: center; padding-top: 6px; color: white; border-top: solid 6px #445d64;">
  @Amnesiye - Forum JAVA 13 made from Scratch using Spring 2.2.5 & Angular 9
</div>

